body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
 * Formatting the header area
 */

header {
  background-color: #dfb887;
  height: 35px;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 10px;
}

header h1.logo {
  margin: 2px 20px;
  /* margin: 0; */
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #444;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  width: 100%;
  margin: 0 auto;
}

div.home {
  padding: 5px 30px 30px 30px;
  background-color: #e6e6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.about {
  padding: 5px 30px 30px 30px;
  background-color: #e6e6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin: 35px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}
.menu li a:hover {
  color: white;
}
